<!DOCTYPE html>
<html>
<head><br><br>
<center>
    <h2 >Add Quizzes</h2>
    </center>
</head>

<body bgcolor="gold">
<center>
<div>
<form action="/logout"> 
<div>
	<button  type="submit">Log Off</button>
</div>
</form>

<form action="/dashboard"> 
<div>
	<button type="submit">DashBoard</button>
</div>
</form>
</div>
<br><br>
<form action="" method ="post">

  <div >
    <label ><b>Subject</b></label>
    <input type="text" placeholder="Subject" name="subject"  required>

    <label ><b>Question Count</b></label>
    <input type="text" placeholder="Quiz Count" name="count"  required>
	
	<label ><b>Quiz Date</b></label>
    <input type="text" placeholder="Quiz Date" name="date"  required>
        
    <button type="submit">Submit</button>
  </div>
</form>
<p  style="color:red">{{error_mgs}}</p>
</center>
</body>
</html>