<!DOCTYPE html>
<html>
<head>
<br>
    <h2 style="color:black"><center><b>Teacher Login</b></center></h2>
</head>

<body bgcolor="gold">

<center>
<form action="/login" method ="post">
<br><br><br><br><br><br>
  <div><b>
    <label >Username</label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label >Password</label>
    <input type="password" placeholder="Enter Password" name="pwd" required>
        
    <button type="submit">Login</button></b>
  </div>
</form>
<p style="color:red"> {{error}}</p>
</center>
</body>
</html>